<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Lo Mas Vendido</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpeg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpeg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>RELOJES</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Los relojes en nuestra colección combinan elegancia y precisión, ofreciendo estilos que van desde lo clásico hasta lo moderno. Disponibles en una variedad de materiales como oro, plata y acero inoxidable, cada pieza es cuidadosamente seleccionada para complementar cualquier estilo y ocasión.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpeg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpeg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>ANILLOS</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Nuestros anillos son la expresión perfecta de elegancia y distinción. Hechos en materiales de alta calidad como oro y plata, estos anillos vienen en una variedad de estilos, desde los más discretos y minimalistas hasta los más detallados y sofisticados.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpeg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpeg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>CADENAS</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Las cadenas que ofrecemos son elegantes y duraderas, disponibles en oro, plata y otros materiales de calidad, y se adaptan tanto a estilos casuales como formales. Con una selección que abarca múltiples grosores y longitudes, son un accesorio que añade un toque especial a cualquier look.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpeg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpeg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>ARETES</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Nuestros aretes destacan por su variedad en diseño y calidad de materiales, incluyendo oro, plata y piedras preciosas. Cada par es seleccionado para añadir sofisticación y un toque especial a cualquier conjunto, sin importar el estilo personal de cada cliente.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Se Parte
                        <br />
                        de Nuestra
                        <br />
                        Joyeria!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>