<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">Inicio de Sesión</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="loginForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Ingrese su correo electronico" required>
                <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
                    <span *ngIf="loginForm.controls.email.errors.required">Este campo es obligatorio.</span>
                    <span *ngIf="loginForm.controls.email.errors.pattern">Este campo es invalido.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="contrasena" placeholder="Ingrese su contraseña" type="password" required>
                <mat-error *ngIf="loginForm.controls.contrasena.touched && loginForm.controls.contrasena.invalid">
                    <span *ngIf="loginForm.controls.contrasena.errors.required">Este campo es obligatorio.</span>
                    <span *ngIf="loginForm.controls.contrasena.errors.pattern">Este campo es invalido.</span>
                    <span *ngIf="loginForm.controls['contrasena'].hasError('pattern')">La contraseña debe tener al menos 8 caracteres, incluir una letra mayúscula, una letra minúscula y un número.</span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
    [disabled]="!(loginForm.valid && loginForm.dirty)">Inicio de Sesión</button>
    <button mat-raised-button color="primary" mat-dialog-close>Cerrar</button>
</mat-dialog-actions>