<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">Ver Factura</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>cancel</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <table id="customers">
        <tr>
            <td><b>Nombre:</b> {{data.nombre}}</td>
            <td><b>Email:</b> {{data.email}}</td>
        </tr>

        <tr>
            <td><b>Numero de Contacto:</b> {{data.numeroContacto}}</td>
            <td><b>Metodo de Pago:</b> {{data.metodoPago}}</td>
        </tr>
    </table>
    <div class="responsive_table">
        <br>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre</th>
                <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
            </ng-container>

            <ng-container matColumnDef="categoria">
                <th mat-header-cell *matHeaderCellDef> Categoria</th>
                <td mat-cell *matCellDef="let element">{{element.categoria}}</td>
            </ng-container>

            <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef> Precio</th>
                <td mat-cell *matCellDef="let element">{{element.precio}}</td>
            </ng-container>

            <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef> Cantidad</th>
                <td mat-cell *matCellDef="let element">{{element.cantidad}}</td>
            </ng-container>

            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> Total</th>
                <td mat-cell *matCellDef="let element">{{element.total}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns;"></tr>
        </table>
    </div>
</mat-dialog-content>