<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">{{dialogData.action}} Categoria</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="categoryForm">
        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" placeholder="nombre" required>
                    <mat-error *ngIf="categoryForm.controls.nombre.touched && categoryForm.controls.nombre.invalid">
                        <span *ngIf="categoryForm.controls.nombre.errors.required">Este campo es obligatorio.</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
        [disabled]="!(categoryForm.valid && categoryForm.dirty)">{{action}}</button>
        <button mat-raised-button color="primary" mat-dialog-close>Cerrar</button>
</mat-dialog-actions>