<body>
    <mat-card>
        <b><span>Dashboard</span></b>
    </mat-card>
    <br>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Total de Categorias:</h2>
                    <h1 class="title">{{data?.categoria}}</h1>
                    <p><button class="button" [routerLink]="['/joyeria/categoria']">Ver Categoria</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Total de Productos:</h2>
                    <h1 class="title">{{data?.producto}}</h1>
                    <p><button class="button" [routerLink]="['/joyeria/producto']">Ver Producto</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Total de Facturas:</h2>
                    <h1 class="title">{{data?.factura}}</h1>
                    <p><button class="button" [routerLink]="['/joyeria/factura']">Ver Factura</button></p>
                </div>
            </div>
        </div>
    </div>
</body>